
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
     font-family: "Open Sans";
  }
body{
    font-size: 15px;
    font-family: "Open Sans";
   
    width: 100%;
    
}
.bodychinh {
    width: 100%;
}
.janeBloglife{
    width: 100%;
}
.container{
    width: 100%;
}

.heder{
   width: 100%;
    background-color: black;
}
.heder i{
    color: white;
     padding: 8px 16px;

    
}
.heder i:hover{
    background-color: #ccc;
}
.fa-search{
    float: right;
}
.bodychinh{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.janeBloglife
{
    color: black;
    background-color: white;
    padding: 48px 16px;
    text-align: center;
    
}
.janeBloglife h1{
    font-size: 48px;
    font-family: "Oswald";
    margin: 10px 0px;
}
.janeBloglife h6{
    margin: 10px 0px;
    font-weight: 400;
    font-size: 16px;
}
.janeBloglife span{
    background-color: #000;
    color: #fff;
    padding: 0px 8px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.container{
    position: relative;
    letter-spacing: 4px;

}
.container img{
    width: 100%;
   
}
.display{
    
    position: absolute;
    padding: 12px 24px;
    color: white;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}
.display h1{
    font-weight: 400;
    margin: 10px 0;
    font-size: 36px;
}
.display b{
    font-weight: 400;
    margin: 10px 0;
    font-size: 64px;
}
.display button{
    border-radius: 0px;
    border: none;
    font: inherit;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #fff;
    opacity: 0.60;
}
.display button:hover{
    opacity: 100%;
    cursor: pointer;
}
.padding{
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
}
.coltrai{
    width: 67%;
    float: left;
    
}
.paddingcoltraimot{
    padding: 12px 24px;
    margin: 16px;
    background-color: white;
}
.center{
    text-align: center;
}
.center h3{
    font-weight: 400;
    margin: 10px 0;
}
.center h5{
    font-size: 18px;
    margin: 10px 0;
}
.center span{
    opacity: 0.6;
}
.justify{
    text-align: justify;
    color: #000;
}
.justify img{
    padding: 16px 0px;
    width: 100%;
}
.justify p{
    margin: 15px 0px;
}
.clear{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.clear button{
    border-radius: 0px;
   border: 1px solid #ccc;
    margin: 15px 0px;
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    font: inherit;
    
}
#khacbiet{
    background-color: black;
    color: white;
}
.clear button:hover{
    cursor: pointer;
    background-color: #ccc;
    color: black;
}
#khacbie:hover{
    cursor: pointer;
    background-color: #ccc!important;
    
}
.row{
    margin-bottom: 16px;
    display: flex;

}
.rowImg{
    width: 16%;
    float: left;
}
.rowtext{
    width: 84%;
    padding-left: 15px;
    margin: auto;
    
}
.rowtext h4{
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
    margin: 10px 0px;
}
.rowtext span{
    opacity: 0.6;
    font-size: 15px;

}
.rowtext p{
    margin: 15px 0px;
}
.colphai{
    width: 33%;
    float: left;
}
.colphaimot{
    margin: 16px;
    color: #000;
    background-color: black;
}
.colphaimot img{
    width: 100%;
    filter: grayscale(75%);
    background-color: black;
}
.colphaimottext{
    padding: 0.01cm 16px;
    color: #fff;
    background-color: #000;
}
.colphaimottext h1{
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
}
.colphaimottext p{
    margin: 15px 0;
}
.colphaihai{
    margin: 32px 16px;
    color: #000;
    background-color: #fff;
}
.colphaihaitext{
   padding: 8px 16px;
   color: #fff;
background-color:black;

}
.colphaihaitext h4{
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
}
.hoverable{
    display: flex;
    flex-direction: column;
  padding: 0;
    margin: 0;
    color: #000;
    background-color: #fff;
}
.hoverable i{
    padding: 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    
}
.hoverable img{
    width: 50px;
    float: left;
    margin-right: 16px;
    border-style: none;
    padding-left: 0px;
}
.hoverable span{
    font-size: 18px;
    font-style: normal;
}
.colphaiba{
    margin: 16px;
    color: #000;
    background-color: #fff;

}
.colphaitexmot , .colphaibontext{
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
}
.colphaitexmot h4{
    font-weight: 400;
    margin: 10px 0;
    font-size: 20px;
}
.colphaitexhai , .conphaibonkhung{
    padding: 0.01em 16px;
    color: #000;
    background-color: #fff;
}
.colphaitexhaikhung{
    height: 200px;
    color: #000;;
    background-color: #f1f1f1;
    position: relative;
    padding: 0.01em 16px;
    margin: 16px 0px;
}
.colphaitexhaikhung span{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.colphaibon{
    margin: 32px 16px;
    color: #000;
    background-color: #fff;
}
.colphaibontext h4{
    font-weight: 400;
margin: 10px 0;
font-size: 20px;
}
.conphaibonkhung p{
    margin: 15px 0px;

}
.conphaibonkhung span{
    padding: 0px 8px;
    background-color: #f1f1f1;
    margin-bottom: 16px;
     
}
.Toden{
   
    color: white;
    background-color: black!important;
}
.colphainam{
    color: #000;
    background-color:white;
}
.colphainamtex{
    padding: 8px 16px;
    color: #fff;
    background-color: black;
}
.colphainamtex , .colphaisautext h4 , .conphaibaytext h4{
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}
.conphainamkhung{
    padding: 0px 8px;
    display: flex;
    
}
.colphainamkhungtrai{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
}
.colphainamkhungtrai p{
    margin: 15px 0px;

}
.colphainamkhungtrai img{
    width: 100%;
}
.colphaisau{
    margin: 32px 16px;
    color: #000;
    background-color: #fff;

}
.colphaisautext ,.conphaibaytext{
    padding: 8px 16px;
    color: #fff;
    background-color: black
}
.colphaisaukhung{
    padding: 8px 16px;
    font-size: 24px;
}
.colphaisaukhung i{
    font-size: inherit;
}
.colphaibay{
    margin: 16px 16px;
    color: #000;
    background-color: #fff;
    
}
.colphaibaykhung{
    padding: 0.01em 16px;
    
}
.colphaibaykhung p{
    margin: 15px 0px;

}
.w3-border{
    border: 1px solid #ccc;
    width: 95%;
    padding: 8px;
    font-size: 15px;
    
}
.colphaibaykhung button{
    padding: 8px 16px;
    color: #fff;
    background-color: #f44336;
    width: 100%;
    border-radius: 0px;
    border: none;
    font-size: 20px;
}
.khungcuoi{
    padding: 32px;
    color: #fff;
    background-color: #616161;
}
.khungphu p{
   margin: 15px 0px;
   color: white;
}
.khungphu a{
    color: white;
}
.w3-button{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 12px 24px;
    margin-bottom: 16px;
}
@media screen and (max-width:990px){
.padding{
    flex-direction: column;
    width: 100%;
    
    
}
.colphai , .coltrai{
    width: 100%;
    
    
}
.container img{
    width: 100%;
}
.bienmat{
    display: none;
}

}








